body {
  margin: 0;
  background-color: lightblue;
}

#mount {
  display: flex;
  width: 100%;
  height: 100%;
}

#screen {
  outline: none;
  width: 480;
  height: inherit;
  image-rendering: pixelated;
}

#screen-container {
  background-color: white;
}

.wrapper {
  white-space: pre;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 432;
}

#check, #selector {
  position: absolute;
  top: 440px; //do you think about me?
}

#check {
  left: 275px;
}

#controls {
  position: absolute;
  top: 480px;
}

#viewer-left, #viewer-breakpoints {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left-width: 0px;
  font-family: "Courier New", monospace;
  font-size: 12px;
}

#viewer-left {
  width: 420px;
}

#viewer-breakpoints {
  width: 150px;
}

#breakpoint-items {
  overflow-y: scroll;
  height: 369px;
}

#viewer-memory {
  line-height: 17px;
  position: relative;
  display: flex;
  height: 374px;
}

#viewer-memory-input {
  position: absolute;
  font-size: 10px;
  width: 55px;
}

#viewer-memory-text {
  flex: auto;
}

#viewer-memory-scroll-container {
  width: 20px;
  overflow-y: scroll;
}

#viewer-memory-scroll-space {
  width: 1px;
  height: 10000px;
}

#viewer-registers {
  line-height: 13px;
  margin: auto;
  text-align: center;
}

.mem-label {
  white-space: pre;
  color: blue;
}

.changed-value {
  color: red;
}

.program-counter {
  color: blue;
}
